In [1]:
import libraries as ls

In [2]:
## pandas testing utilities

# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : ls.np.asarray(frame.columns).repeat(N),
            'date' : ls.np.tile(ls.np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return ls.DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

C:\Users\looka\AppData\Local\Temp\ipykernel_13332\2005923779.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm; tm.N = 3

In [3]:
dframe

          date variable     value
0   2000-01-03        A  0.136648
1   2000-01-04        A -0.586753
2   2000-01-05        A  0.767844
3   2000-01-06        A -1.247153
4   2000-01-07        A -1.012783
..         ...      ...       ...
115 2000-02-07        D  0.827763
116 2000-02-08        D  1.194871
117 2000-02-09        D -2.050470
118 2000-02-10        D -2.027454
119 2000-02-11        D -0.327213

[120 rows x 3 columns]

In [6]:
## variables for particular dates

dframe_piv = dframe.pivot(index = 'date', columns='variable', values='value')

In [7]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.136648 -0.754661 -0.436262  0.611529
2000-01-04 -0.586753  0.404451  0.047771  0.942107
2000-01-05  0.767844 -1.732992  0.522911  0.627019
2000-01-06 -1.247153 -0.038317  0.051215  0.894345
2000-01-07 -1.012783  1.039401 -0.077422  0.118829
2000-01-10 -0.829498  2.098206 -0.183499 -0.303622
2000-01-11 -1.754323 -0.154160  0.230808 -1.097946
2000-01-12 -0.138451  0.147416 -1.504469  0.263714
2000-01-13 -0.930267 -1.693560  1.105902 -0.006746
2000-01-14 -0.860515  0.475714  0.720925 -0.796102
2000-01-17  0.152021  1.689325 -0.523203  0.340451
2000-01-18 -1.954557  1.405658 -1.479001  0.583555
2000-01-19  0.511094 -0.361124 -0.437662 -1.151778
2000-01-20  1.545089  0.210097 -1.116023 -0.395907
2000-01-21  0.199998 -0.709482 -0.033236 -0.819141
2000-01-24  0.491580  0.863978  0.138953  0.004304
2000-01-25  0.463284  0.628079  0.358682 -1.338249
2000-01-26 -0.509001  1.912580  0.915972 -1.421962
2000-01-27 -1.872005 -0.376737 -0.004946 -0.071636
2000-01-28 -0.343530  0.332590  0.505246  0.997905
2000-01-31  1.112717  0.130628 -0.805777  0.462630
2000-02-01  0.566218  0.192245 -0.233658 -0.508160
2000-02-02  2.539767  0.641610  0.280738 -0.492348
2000-02-03 -0.471153  0.444194  0.075453 -2.276958
2000-02-04 -0.420147  0.467342  1.213822 -1.450203
2000-02-07 -0.647870 -0.554323  0.324258  0.827763
2000-02-08 -1.614126 -0.245381  0.559911  1.194871
2000-02-09 -1.346921 -1.220341 -0.718903 -2.050470
2000-02-10  0.990926 -0.174269  0.091131 -2.027454
2000-02-11 -0.913005  0.497834  0.554623 -0.327213